.chat-main
  .group-top
    .group-info
      .group
        .group-name
          test
        .group-member
          Member : masa
      = link_to "#", class: "group-info__edit-btn" do
        Edit
  .message-list
    .message
      .message-info
        .member-name
          masa
        .message-time
          2020年04月20日 16時53分
      .message-detail
        hello!
    .message
      .message-info
        .member-name
          天才
        .message-time
          2020年04月20日 16時56分
      .message-detail
        さすがすぎ
  .message-form
    = form_with(local: true, class: "form") do |f|
      .message-type
        = f.text_field :text, class: "form-text", placeholder: "type a message"
        = f.label :image, class: "form-image" do
          = icon('far', 'image', class: "image-icon")
          = f.file_field :image
      = f.submit "SEND", class: "send-btn"
