.chat-main
  .chat-main__group-top
    .chat-main__group-top__info
      .chat-main__group-top__info__group
        .chat-main__group-top__info__group__name
          = @group.name
        .chat-main__group-top__info__group__member
          Member:
          - @group.users.each do |user|
            .chat-main__group-top__info__group__member--name
              = user.name
      = link_to edit_group_path(@group), class: "chat-main__group-top__info--edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "chat-main__message-form__form"}, local: true do |f|
      .chat-main__message-form__form__message-type
        = f.text_field :content, class: "chat-main__message-form__form__message-type--text", placeholder: "type a message"
        = f.label :image, class: "chat-main__message-form__form__message-type__image" do
          = icon('far', 'image', class: "chat-main__message-form__form__message-type__image--icon")
          = f.file_field :image
      = f.submit "SEND", class: "chat-main__message-form__form__send-btn"
