.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items--name
        = current_user.name
      .side-bar__user-name__top-items--icon-list
        = link_to new_group_path, class: "side-bar__user-name__top-items--icon-list__icon--edit" do
          = icon('far', 'edit', class: "side-bar__user-name__top-items--icon-list__icon")
        = link_to edit_user_path(current_user), class: "side-bar__user-name__top-items--icon-list__icon--cog" do
          = icon('fas', 'cog', class: "side-bar__user-name__top-items--icon-list__icon")
  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "side-bar__group-list__group" do
        .side-bar__group-list__group--name
          = group.name
        .side-bar__group-list__group--message
          = group.show_last_message